<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      Copyright ©<%= date(new Date(), 'YYYY') %> Baidu. All Rights Reserved.
      百度地图版权所有
    </div>
  </div>
</footer>
